main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: none;
    height: 100vh;
    width: auto;    
}
.container{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.containerMain{
    background-color: #0000FE;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px;
    padding: 0px 0px;
}

.containerMain h1{
    color: black;
    margin-top: 100px;
}

/*-------------------------------------------------------------------*/
/*------------------------- COOKIE ----------------------------------*/
/*-------------------------------------------------------------------*/
#cb-cookie-banner { 
    position: fixed; 
    bottom: 0; 
    left: 0;
    top: 80%; 
    left: 50%;
    height: 40%;
    transform: translate(-50%, -50%); 
    z-index: 999; 
    border-radius: 0; 
    display: none; 
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: #fff;
}
#cb-cookie-banner .alert {
    margin-bottom: 0;
    font-size: 14px;  
    line-height: 1.4;  
}
#cb-cookie-banner h4{
    font-size: 13px;
}
#cb-cookie-banner img{
    width: 20%;
}
#cb-cookie-banner .store{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#cb-cookie-banner .store img{
    width: 70%;
}
#cb-cookie-banner .btn {
    font-size: 13px;
    border-radius: 50%;
    background-color: #0000FE;
}

/*-------------------------------------------------------------------*/
/*------------------------- COOKIE ----------------------------------*/
/*-------------------------------------------------------------------*/


@media(max-width:600px){
    #cb-cookie-banner { 
        top: 75%;
        height: 33%; 
        width: 300px;
    }

    #cb-cookie-banner .store img{
        width: 90%;
    }
}